// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// fadeDown
.fadeDown-enter-active,
.fadeDown-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.fadeDown-enter-from,
.fadeDown-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

// router
.router-enter-active,
.router-leave-active {
  transition: all 0.2s ease;
}

.router-enter-from,
.router-leave-to {
  opacity: 0;
  // transform: scale(0.98);
  transform: translateX(10px);
}

// shrink
.shrink-enter-active,
.shrink-leave-active {
  opacity: 1;
  transform: scale(1);
  transition:
    transform 0.3s,
    opacity 0.3s;
}
.shrink-enter-from,
.shrink-leave-to {
  opacity: 0;
  transform: scale(0.4);
}

// up
.up-enter-active,
.up-leave-active {
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.up-enter-from,
.up-leave-to {
  transform: translateY(100%);
}

// left
.left-enter-active,
.left-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    transform 0.3s,
    opacity 0.3s;
}
.left-enter-from,
.left-leave-to {
  transform: translateX(-100%);
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes coverRotate {
  0% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  50% {
    transform: rotate(180deg) scale(2) translateX(40%);
  }
  100% {
    transform: rotate(360deg) scale(1) translateX(0);
  }
}

@keyframes playerCoverRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-spacing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    letter-spacing: 12px;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
