* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

// HarmonyOS Sans
html,
body,
#app {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "HarmonyOS_Regular", sans-serif !important;
}

// Dialog
.s-dialog {
  .n-dialog__close {
    margin: 16px 26px 0 0;
  }

  .n-dialog__title {
    transform: translateX(-8px);
    font-size: 18px;
    // font-weight: bold;

    i {
      font-size: 24px;
      // transform: translateY(-1px);
    }
  }
}

// Modal
.s-modal {
  width: 60vw;
  max-width: 700px;
  min-width: min(24rem, 100vw);
  border-radius: 8px;
  &.close {
    .n-card-header {
      .n-base-close {
        display: none;
      }
    }
  }
  .n-card-header {
    .n-card-header__main {
      // font-weight: bold;
      font-size: 18px;
    }
  }
  .n-scrollbar {
    max-height: 60vh;
    font-size: 16px;
    line-height: 32px;
  }
}

// Tab
.main-tab {
  .n-tabs-tab {
    &.n-tabs-tab--active {
      font-weight: bold !important;
      transition: all 0.3s;
    }
  }
}

// 文本超出隐藏
.text-hidden {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  word-break: break-all;
}
