// 主题色
$mainColor: #f55e55;
$mainSecondaryColor: #f55e551f;

// 响应式布局
@mixin changeWidth($padding:10vw) {
    .n-layout-header {
        padding: 0 $padding;
    }

    .n-layout-content {
        .main {
            padding: 24px $padding 54px $padding;

            .player {
                padding: 0 $padding;
            }
        }
    }
}

@include changeWidth;

/* 小于1200px时 */
@media (max-width: 1200px) {
    @include changeWidth($padding:5vw);
}