* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  font-family: "HarmonyOS_Regular", sans-serif !important;
  overflow: hidden;
}

// n-text
.n-text {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// n-image
.n-image {
  .cover-loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: var(--n-color);
    border-radius: 8px;
    .n-spin-body {
      position: absolute;
      height: 100%;
      top: 0;
    }
    &.mv {
      padding-bottom: 56%;
    }
    .loading-img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1 !important;
    }
  }
}

// n-scrollbar
.n-scrollbar {
  .n-scrollbar-rail {
    right: 0 !important;
    z-index: 20;
  }
}

// n-message
.n-message-container {
  bottom: 90px !important;
  .n-message-wrapper {
    .n-message {
      border-radius: 12px;
    }
  }
}

// n-dropdown
.n-dropdown {
  --n-border-radius: 8px !important;
}

// n-notification
.n-notification {
  --n-border-radius: 8px !important;
}

// n-skeleton
.n-skeleton {
  background: linear-gradient(
    90deg,
    var(--n-color-end) 25%,
    var(--n-color-start) 37%,
    var(--n-color-end) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

// n-tabs
.n-tabs {
  --n-tab-border-radius: 6px !important;
  .n-tabs-rail {
    .n-tabs-tab-wrapper {
      .n-tabs-tab {
        &:hover {
          transition:
            color 0.3s,
            background-color 0.5s ease-in-out,
            box-shadow 0.3s;
        }
      }
    }
  }
}

// n-modal
.n-modal {
  width: 60vw;
  max-width: 700px;
  min-width: min(24rem, 100vw);
  border-radius: 8px;
}
.n-modal-mask {
  backdrop-filter: blur(16px);
}

// n-result
.n-result {
  min-height: calc(100vh - 178px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// n-popover
.n-popover {
  border-radius: 8px !important;
  backdrop-filter: blur(10px);
}

// n-back-top
.n-back-top {
  transition:
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    transform: scale(0.9);
  }
}

// n-data
.n-data-table {
  --n-merged-th-color: transparent !important;
  --n-merged-td-color: transparent !important;
  --n-merged-border-color: transparent !important;
  --n-merged-th-color-hover: transparent !important;
  --n-merged-td-color-hover: transparent !important;
  --n-merged-td-color-striped: transparent !important;
  .n-data-table__pagination {
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: center;
  }
}

// n-image-preview
.n-image-preview-container {
  .n-image-preview-overlay {
    backdrop-filter: blur(16px);
  }
}

// layout-toggle-bar
.n-layout-toggle-bar {
  height: 44px !important;
  top: calc(50% - 22px) !important;
  .n-layout-toggle-bar__top,
  .n-layout-toggle-bar__bottom {
    height: 24px !important;
  }
  .n-layout-toggle-bar__bottom {
    top: 20px !important;
  }
}
